header.header{
  height: 500 px;
  width: 100%;
  text-align: center;
  background-color: rgb(223, 134, 19);
  padding-top: 150px;
  background-image: url("../images/asfalt-dark.png");

};

#tweeterHeaderPic {
  justify-content: center;
  text-align: center;
  
};